<footer class="footer" itemscope itemtype="http://schema.org/WPFooter">
	<%- partial('_common/social', null, {cache: !config.relative_link}) %>
    <div class="copyright">
    	<% if(theme.site.copyright) { %>
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <% } %>
        <div class="publishby">
        	<%= __('copyright.theme_by') %> <a href="https://github.com/cofess" target="_blank"> cofess </a><%= __('copyright.base_on') %> <a href="https://github.com/cofess/hexo-theme-pure" target="_blank">pure</a>
            <a href="<%- theme.tracker.baidu %>" target="_blank"> ab </a>
            <a href="<%- theme.tracker.google %>" target="_blank"> ag </a>
            <a href="<%- theme.tracker.tencent %>" target="_blank"> at </a>
        </div>
    </div>
</footer> 